.header{
    padding: 20px;
}

.Flashcard{
    padding: 25;
    justify-content: center;
    align-items: center;
    display: flex;
}

.FlashcardText{
    justify-content: center;
    align-content: center;
    background-color:brown;
    height: 300px;
    width: 500px;
    color: black;
}

button{
    height:50px;
    width:100px;
    margin:12.5px;
}

.green{
    background-color: rgb(118, 213, 118);
}

.yellow{
    background-color: rgb(244, 244, 123);
}

.red{
    background-color: rgb(212, 128, 128);
}